body{
	margin 0;
}
* {
	box-sizing: border-box;
}
.second-nav-link{
	text-decoration: none;
	margin-right: 25px;
}
.second-nav-link:hover{
	color:black;
}
.second-nav-fixed{
	position: fixed;
	z-index: 5;
	top: 110px;
	left: 0;
	justify-content: flex-start;
	background-color: rgba(255, 255, 255, 0.863);
}
@keyframes showMenu1{
	0%{
	opacity: 0;
	top: -100px;
	}
	100%{
		opacity: 1;
		top:0;
	}
}

.second-nav-ul > li{
list-style:none;
cursor : pointer;
}

.second-nav-ul{
	display: flex;
	font-size: 25px;
	margin: 10px 0 10px 0;
	font-family: 'Marmelad', sans-serif;
}
.second-nav{
	display: flex;
	justify-content: center;
}

.photoblocks{
	padding: 0 20px;
}

.photoblocks__container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
}

.photoblock__container{
	max-width: 700px;
	width: 100%;
	height: 400px;
}

@media (max-width: 1255px){
	.photoblocks__container{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 805px){
	.second-nav-ul{
		font-size: 20px;
		flex-wrap: wrap;
	}
	.photoblocks__container{
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (max-width: 680px) {
	.second-nav-fixed  .second-nav-ul{width: 40px;}
	.second-nav-fixed  .second-nav-ul> li{
		height: 36px;
	}

	.second-nav-fixed .second-nav-ul{
		flex-direction: column;
		padding: 5px;
	}
	.second-nav-fixed .second-nav-link__impression{
		background:  url(/src/img/wow-50.png) no-repeat 0 4px ;
		background-size: 30px;
	}
	.second-nav-fixed .second-nav-link__text{
	padding-left: 40px;
	display: none;
	}
	.second-nav-fixed	.second-nav-link__included, 	.second-nav-fixed	 .second-nav-link__program,.second-nav-fixed	 .second-nav-link__map{  
		background:  url(/src/img/wow-50.png) no-repeat 0 4px ;
		background-size: 30px;
	}
}
